.header {
  background: linear-gradient(to right, dodgerblue, yellow);
  padding: 150px 0;
  max-height: 350px;
}

.brasao {
  width: 25%;
  max-height: 300px;
  max-width: 325px;
  min-width: 325px;
}
