<div class="container mt-5">
  <div class="row mb-5" *ngFor="let combinedQuestion of combinedQuestions; let i = index">
    <!--2021-->
    <div class="col-md-6" *ngIf="combinedQuestion.question2021">
      <div class="col-12">
        <p>{{ combinedQuestion.question2021.text }}</p>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <canvas [id]="'pizzaChart2021-' + (i + 1)"></canvas>
      </div>
    </div>

    <!--2022-->
    <div class="col-md-6" *ngIf="combinedQuestion.question2022">
      <div class="col-12">
        <p>{{ combinedQuestion.question2022.text }}</p>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <canvas [id]="'pizzaChart2022-' + (i + 1)"></canvas>
      </div>
    </div>
  </div>
</div>
