<div class="container mt-5">
  <div class="row mb-5" *ngFor="let question of questions2021; let i = index">
    <!--2021-->
    <div class="col-md-6">
      <div class="col-12">
        <p>{{ questions2021[i].text }}</p>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <canvas [id]="'pizzaChart2021-' + (i + 1)"></canvas>
      </div>
    </div>

    <!--2022-->
    <div class="col-md-6">
      <div class="col-12">
        <p>{{ questions2022[i].text }}</p>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <canvas [id]="'pizzaChart2022-' + (i + 1)"></canvas>
      </div>
    </div>
  </div>
</div>
