.compare-container {
  margin: 20px;
}

.charts-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.chart-container {
  width: 30%;


  text-align: center;
  position: relative;
}

.chart-container.vertical-line::after {
  content: '';
  position: absolute;
  top: 0;


  bottom: 0;
  right: 0;
  width: 1px;
  background-color: #000;


  margin-right: 15px;
}

.chart-container h4 {
  margin-bottom: 10px;
}

.question-title {
  text-align: center;
}