/* Estiliza o parágrafo com o texto da questão */
p {
  font-size: 1.2rem; /* Tamanho da fonte */
  margin-bottom: 1rem; /* Espaço abaixo do parágrafo */
  color: #333; /* Cor do texto */
  text-align: justify; /* Alinhamento do texto */
}

.col-12 {
  max-width: 600px;
  margin: auto;
}

canvas {
  width: 100% !important;
  max-width: 400px;
  height: auto !important;
}
