<!-- Content loaded from service -->
<div [innerHTML]="content"></div>

<div class="container-fluid px-0">
  <!-- Header -->
  <div class="header d-flex justify-content-center align-items-center">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Bras%C3%A3o_de_Porto_Velho.svg/650px-Bras%C3%A3o_de_Porto_Velho.svg.png" class="brasao" alt="Brasão de Porto Velho">
  </div>

  <!-- Content loaded from service -->
  <div class="container mt-5">
    <div [innerHTML]="content"></div>
  </div>

  <!-- First Grid -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <h1>Questionário</h1>
        <h5 class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <i class="fa fa-anchor text-red"></i>
      </div>
    </div>
  </div>

  <!-- Second Grid -->
  <div class="container-fluid py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center">
          <i class="fa fa-coffee text-red"></i>
        </div>
        <div class="col-md-8">
          <h1>Lorem Ipsum</h1>
          <h5 class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        </div>
      </div>
    </div>
  </div>
</div>
