<!-- Content loaded from service -->
<div [innerHTML]="content"></div>

<div class="container-fluid px-0">


  <!-- Content loaded from service -->
  <div class="container mt-5">
    <div [innerHTML]="content"></div>
  </div>
  <style>
    .justify-text {
      text-align: justify;
    }
  </style>


  <div class="container-fluid py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto justify-text">
          <h1>Resultado da Avaliação do Sistema de Controle Interno</h1>
          <br>
          <p>O Questionário de Avaliação do Sistema de Controle Interno foi desenvolvido com base no Regimento Interno da CGM, especificamente no artigo 21, inciso III, do Decreto nº 15.352, datado de 1º de agosto de 2018. Esse decreto estabeleceu a responsabilidade da Divisão de Integração Operacional de Controle - DIOC/DGT de conduzir avaliações periódicas no Sistema de Controle Interno, focando na governança pública e integridade.</p>
          <p>A avaliação teve como base os princípios fundamentais de Governança, incluindo os mecanismos de Liderança, Estratégia e Controle. O objetivo principal foi aprimorar a metodologia das atividades de controle interno, agindo tanto de forma preventiva quanto corretiva. Além disso, buscou-se monitorar e avaliar a eficiência e eficácia das ações de gestão.</p>
          <p>Diante do exposto, apresentamos os resultados dos questionários de avaliação do Sistema de Controle Interno aplicados no exercícios de 2021 e 2022, destinados aos Secretários das Pastas do Poder Executivo Municipal, nas quais se localizam as Divisões de Controle e Análise Processual.</p>
          <p>Diante do cenário identificado e das oportunidades destacadas durante a aplicação dos questionários, fica evidente a necessidade de promover melhorias substanciais nas Divisões de Controle e Análise Processual. Com o comprometimento de aprimorar a eficiência e eficácia dessas divisões, serão desenvolvidos projetos estratégicos que visam fortalecer os processos internos e otimizar a análise de dados.</p>
          <p>A experiência bem-sucedida do Encontro Municipal de Controle Interno (<a href="https://cgm.portovelho.ro.gov.br/artigo/41983/cgm-realiza-encontro-das-unidades-de-controle-interno" target="_blank">https://cgm.portovelho.ro.gov.br/artigo/41983/cgm-realiza-encontro-das-unidades-de-controle-interno</a>), realizado em outubro de 2023, servirá como um modelo inspirador para a implementação dessas melhorias. Os aprendizados e insights obtidos durante o evento serão aplicados de forma prática e adaptados às necessidades específicas das Divisões, garantindo uma abordagem personalizada e alinhada aos objetivos organizacionais.</p>
          <p>Assim, esta iniciativa reflete o compromisso contínuo com a excelência na gestão pública, reforçando a importância do constante aprimoramento e da busca por melhores práticas. Por meio da execução desses projetos, espera-se não apenas elevar o padrão de qualidade das operações internas, mas também promover uma cultura organizacional orientada para a inovação e aperfeiçoamento constante.</p>
        </div>
      </div>
    </div>
  </div>
</div>
