/* Configurações Gerais */
* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  overflow: auto;
}

/* Cabeçalho e Fontes */
h1 {
  font-family: "Montserrat", sans-serif;
}


/* Estilos de Conteúdo */
p {
  font-size: 20px;
}
